body {
    background-color: #796b6b;
}

.container {
    margin: 0% auto;
    /* border: 2px solid white; */
    border-radius: 8px;
    background-color: rgb(48, 45, 45);
    width: 400px;
    height: 700px;
}

.contr {
    margin-top: 10%;
    text-align: center;
}

select {
    width: 80px;
    background-color: rgb(48, 45, 45);
    color: white;
    padding: 10px;
    font-size: 15px;
    margin-top: 10px;
    border: none;
    outline: none;
}

.logo {
    text-align: center;
    margin-top: 20%;
}

.logo img {
    transition: all 1s ease;
    width: 70px;
    height: auto;
}

img:hover {
    transform: scale(1.2);
}

.entry {
    margin-top: 18%;

}

.invi {
    visibility: hidden;
}

.user input,
.pass input {
    transition: all 1s ease;
    font-size: 16px;
    background-color: transparent;
    width: 330px;
    padding: 15px;
    margin: 20px;
    color: #8e8e8e;
    border: 2px solid white;
    border-radius: 10px;
}

.butt {
    /* transition: all 1s ease; */
    margin: 20px;
    padding: 15px;
    margin: 20px;
    text-align: center;
    background-color: rgb(68, 68, 220);
    border-radius: 33px;
    cursor: pointer;
    border: none;
}

.butt:hover {
    background-color: rgb(72, 92, 290);
}

button {
    /* transition: all 1s ease; */
    color: #8e8e8e;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: transparent;
}

.butt1 {
    margin: -15px;
    padding: 10px;
    text-align: center;
}

button:hover {
    color: white;
}

.create {
    margin-top: 12%;
    cursor: pointer;
}

.Acco {
    transition: all 1s ease;
    padding: 15px;
    margin: 20px;
    color: rgb(68, 68, 220);
    border: 2px solid white;
    text-align: center;
    border-radius: 33px;
    border-color: rgb(68, 68, 220);
}

.Acco:hover {
    background-color: rgb(68, 68, 220);
    color: white;
}

.meta-button {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #8e8e8e;
    cursor: pointer;
}