* {
    margin: 0%;
    padding: 0%;
    font-family: "poopin";
}

body {

    background-image: url("https://images.unsplash.com/photo-1750126833705-ba98013f16f3?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

nav {
    padding: 8px;
    font-size: 30px;
    text-align: center;
    border-radius: 4px;
}

.container {
    background-color: #d98880;
    width: 400px;
    height: 410px;
    border-radius: 4px;
    margin: 10% auto;
    text-align: center;
    position: relative;
    z-index: 999;
    opacity: 0.8;
}

.contaMax {
    transition: all 2s ease;
    background-color: #d98880;
    width: 400px;
    height: 450px;
    border-radius: 4px;
    margin: 10% auto;
    text-align: center;
    position: relative;
    z-index: 999;
    opacity: 0.8;
}

h3 {
    font-size: 25px;
    color: rgb(9, 11, 109);
    border-radius: 15px;
    background-color: rgb(152, 147, 140);
    visibility: hidden;
}

.H3 {
    font-size: 25px;
    color: rgb(9, 11, 109);
    margin: 8px;
    border-radius: 15px;
    background-color: rgb(152, 147, 140);
    visibility: visible;
}

.display {
    visibility: hidden;
    margin: 0% auto;
}

.outVisible {
    transition: all 1s ease;
    visibility: visible;
    margin: 5% auto;
}

output {
    
    border-radius: 10px;
    font-size: 20px;
    color: rgb(9, 11, 109);
    font-weight: bold;
    padding: 5px;
}

 .scrollBox {
    height: 200px;
    overflow-y: auto;
    display: block;
  }

  table {
    width: 200px;
    border-collapse: collapse;
  }

  thead, th {
    position: sticky;
    top: 0;
    
  }
  td{
    background-color: rgb(105, 104, 103);
  }
  th{
   background-color: rgb(153, 151, 148); 
  }

  th, td {
    padding: 8px;
    border-radius: 10px;
    text-align: center;
  }

  tbody {
    margin-top: 3px;
    display: block;
    max-height: 140px; 
    overflow-y: auto;
  }
  tbody::-webkit-scrollbar{
    display: none;
  }

  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
button {
    cursor: pointer;
    margin: 0% auto;
    width: 90px;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.butnmax {
    margin: 8% auto;
    width: 90px;
    padding: 10px;
    border: none;
    border-radius: 8px;
}
button:hover{
    cursor: pointer;
    background-color: #cd6155;
    font-size: 15px;
    font-weight: bolder;

}